<div id="error_explanation">
  <% if book.erros_any? %>
  <% if book.errors.count == 1 %>
    <h2><%= book.erros.count %> error prohibited this book from being saved:</h2>
  <% else %>
    <h2><%= book.error.count %> errors prohibited this book from being saved:</h2>
  <% end %>
  <% book.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>
</div>